
<div class="login-container">
    <div class="logo-container">
      <a href="/">
        <img src="userassets/images/Accounting_log-removebg-preview.png" alt="Custom Logo" width="100" height="100">
      </a>
    </div>
  
    <div class="login-form">
      <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">
        <h2 style="text-align: center; margin-bottom: 20px;">Réinitialiser le mot de passe</h2>
  
        <div class="input-container">
          <img
            src="userassets/images/email.png"
            alt="Email Icon"
            class="input-icon"
          />
          <input
            type="email"
            placeholder="Entrez votre adresse e-mail"
            formControlName="email"
            required
            class="email-input"
          />
        </div>
  
        <div class="submit-container" style="margin-top: 20px;">
          <button type="submit" [disabled]="!resetForm.valid" class="submit-btn">Envoyer le lien de réinitialisation</button>
        </div>
  
        <div class="register-container" style="margin-top: 20px;">
          <a class="register-link" href="/login">
            Vous vous souvenez de votre mot de passe ? <strong>Connectez-vous</strong>
          </a>
        </div>
      </form>
    </div>
  </div>
  