 
<div class="login-container">
    <div class="logo-container">
      <a href="/">
        <img src="userassets/images/Accounting_log-removebg-preview.png" alt="Custom Logo" width="100" height="100">
      </a>
    </div>
  
    <div class="login-form">
      <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">
        <h2 style="text-align: center; margin-bottom: 20px;">Réinitialiser le mot de passe</h2>
  
        <div class="input-container" style="margin-top: 20px;">
            <img
              src="userassets/images/padlock.png" 
              alt="Password Icon"
              class="input-icon"
            />
            <input
              #passwordInput
              id="password"
              type="password"
              placeholder="Mot de passe"
              formControlName="password"
              required
              class="password-input"
            />
            <img
            #toggleIcon
            src="userassets/images/show.png"
            alt="Show Password Icon"
            class="password-icon"
            (click)="togglePasswordVisibility(passwordInput, toggleIcon)"
          />
          </div>
        
          <!-- Confirm Password Field -->
          <div class="input-container" style="margin-top: 20px;">
            <img
              src="userassets/images/padlock.png" 
              alt="Confirm Password Icon"
              class="input-icon"
            />
            <input
              #confirmpasswordInput
              id="password_confirmation"
              type="password"
              placeholder="Confirmer votre mot de passe"
              formControlName="password_confirmation"
              required
              class="password-input"
            />
            <img
            #confirmtoggleIcon
            src="userassets/images/show.png"
            alt="Show Password Icon"
            class="password-icon"
            (click)="togglePasswordVisibility(confirmpasswordInput, confirmtoggleIcon)"
          />
          </div>
  
        <div class="submit-container" style="margin-top: 20px;">
          <button type="submit" [disabled]="!resetForm.valid" class="submit-btn">Renitialiser le mot de passe</button>
        </div>
  
        <div class="register-container" style="margin-top: 20px;">
          <a class="register-link" href="/login">
            Vous vous souvenez de votre mot de passe ? <strong>Connectez-vous</strong>
          </a>
        </div>
      </form>
        <div *ngIf="error" style="color:red">{{ error }}</div>
        <div *ngIf="success" style="color:green">{{ success }}</div>
    </div>
  </div>
  