
<header>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" [routerLink]="getHomeLink()"><h2>Accounting <em>Hall</em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link"[routerLink]="getHomeLink()"><i class="fa-solid fa-house me-2"></i>Accueil</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contact']"><i class="fa-solid fa-envelope me-2"></i>Contacter nous</a>
            </li>
            
            <!-- Check if user is authenticated -->
            <ng-container *ngIf="isAuthenticated; else loggedOut">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/clientslist']"><i class="fa-solid fa-users me-2"></i>Mes clients</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/declarations']"><i class="fa-solid fa-clipboard-list me-2"></i>Declarations</a>
              </li>
              <li class="nav-item topbar-icon dropdown hidden-caret me-5">
                <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-bell"></i>
                  <span class="notification">{{ unreadNotifications.length }}</span>
                </a>
              
                <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                    <li>
                      <div class="dropdown-title">
                        You have {{ unreadNotifications.length }} new notification
                      </div>
                    </li>
                    <a *ngFor="let notif of unreadNotifications" href="#" (click)="markAsSeen(notif, $event)">
                      <div class="notif-icon notif-primary">
                        <i class="fa fa-info-circle"></i>
                      </div>
                      <div class="notif-content">
                        <span class="block">{{ notif.contenu_notification }}</span>
                        <span class="time">{{ notif.created_at | date:'shortTime' }}</span>
                      </div>
                    </a>
                    
                    <li>
                      <a class="see-all" href="javascript:void(0);">See all notifications<i class="fa fa-angle-right"></i></a>
                    </li>
                </ul>
              </li>
              
              
              <!-- Dropdown for profile actions  -->
             <!-- Profile Dropdown styled like Notification -->
             <li class="nav-item topbar-icon dropdown hidden-caret">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="profileDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fa-solid fa-circle-user me-2"></i>
                <strong>{{ userName }}</strong>
              </a>
            
              <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="profileDropdown">
                <!-- Profile Header inside dropdown -->
                <li>
                  <div class="dropdown-profile-header d-flex align-items-center p-3">
                    <div class="profile-pic me-2">
                      <i class="fa-solid fa-circle-user fa-2x"></i>
                    </div>
                    <div>
                      <strong>{{ userName }}</strong><br />
                      <small class="text-muted">Connecté</small>
                    </div>
                  </div>
                </li>
            
                <li><div class="dropdown-divider my-1"></div></li>
            
                <a [routerLink]="['/profile']" class="dropdown-item d-flex align-items-center">
                  <div class="notif-icon notif-primary">
                    <i class="fa fa-user"></i>
                  </div>
                  <div class="notif-content">
                    <span class="block">Mon Profil</span>
                  </div>
                </a>
            
                <a [routerLink]="['/settingslist']" class="dropdown-item d-flex align-items-center">
                  <div class="notif-icon notif-warning">
                    <i class="fa fa-cog"></i>
                  </div>
                  <div class="notif-content">
                    <span class="block">Paramètres de Déclaration</span>
                  </div>
                </a>
            
                <li><div class="dropdown-divider my-1"></div></li>
            
                <button class="dropdown-item d-flex align-items-center w-100 border-0 bg-transparent" (click)="logout()">
                  <div class="notif-icon notif-danger">
                    <i class="fa fa-sign-out"></i>
                  </div>
                  <div class="notif-content">
                    <span class="block text-danger">Déconnecter</span>
                  </div>
                </button>
              </ul>
            </li>
            

              
              
            </ng-container>
  
             <!-- If user is not authenticated  -->
            <ng-template #loggedOut>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['login']">Connecter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['register']">Creer un compte</a>
              </li>
            </ng-template>
          </ul>
        </div>
      </div>
    </nav>
  </header>
