<!-- Banner -->
<div class="banner header-text"></div>

<div class="latest-products" *ngIf="isAuthenticated; else notLoggedIn">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">

        <!-- Card -->
        <div class="card shadow-sm clients-card">

          <!-- Card Header -->
          <div class="card-header text-center">
            <h5>Ajouter Nouveau Client</h5>
          </div>

          <!-- Card Body -->
          <div class="card-body">

            <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">

              <div class="mb-3 input-container">
                <img src="userassets/images/profile-user.png" alt="Name Icon" class="input-icon"/>
                <input type="text" placeholder="Nom et Prénom" formControlName="Nomprenom" required class="form-control"/>
              </div>

              <div class="mb-3 input-container">
                <img src="userassets/images/barcode.png" alt="Commercial Name Icon" class="input-icon"/>
                <input type="text" placeholder="Nom Commercial" formControlName="nom_commerciale" required class="form-control"/>
              </div>

              <div class="mb-3 input-container">
                <img src="userassets/images/address-location-map-black-icon-symbol-download-png-701751694974706zcvtdkajtm.png" alt="Address Icon" class="input-icon"/>
                <input type="text" placeholder="Adresse" formControlName="adresse" required class="form-control"/>
              </div>

              <div class="mb-3 input-container">
                <img src="userassets/images/telephone-call.png" alt="Phone Icon" class="input-icon"/>
                <input type="text" placeholder="Numéro de téléphone" formControlName="phone" required class="form-control"/>
              </div>

              <div class="mb-3 input-container">
                <img src="userassets/images/email.png" alt="Email Icon" class="input-icon"/>
                <input type="email" placeholder="Email" formControlName="email" required class="form-control"/>
              </div>

              <div class="text-center">
                <button type="submit" [disabled]="clientForm.invalid || isLoading" class="btn btn-dark-golden">
                  {{ isLoading ? 'Saving...' : 'Ajouter Client' }}
                </button>
              </div>

              <p class="text-success mt-3 text-center" *ngIf="successMessage">{{ successMessage }}</p>
              <p class="text-danger mt-3 text-center" *ngIf="errorMessage">{{ errorMessage }}</p>

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Not Logged In Message -->
<ng-template #notLoggedIn>
  <div class="container my-5 text-center">
    <p>Veuillez vous connecter pour ajouter un client.</p>
    <a routerLink="/login" class="btn btn-dark-golden">Se connecter</a>
  </div>
</ng-template>
